body{
    background-image: url('background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
}

form div{
    color: white;
    margin-top: 10px;
}

button{
    width: 20%;
    padding: 5px;
    margin-top: 20px;
}